# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/

# Node
node_modules/
dist/

# Env files
.env
*.env.local

# Local uploads / generated media
backend/src/media/
run-logs/
.local-pgdata/

# VS Code
.vscode/

# OS
Thumbs.db

# Flutter
**/.dart_tool/
**/build/
